.mainhead div { margin-bottom: 2rem; }
button.btn-default i { padding-right: 10px; }

thead th {
  border-top: none;
  border-bottom: 1px solid #34434B;
}

th, td { font-weight: lighter; }
td { border-bottom: .5px solid rgba(52, 67, 75, .1); margin: 0; }

.bug-title,
.bug-delete { cursor: pointer; }
.bug-title { color: #3498db; }

.bug-delete {
  display: inline-block;
  color: #e74c3c;
  padding: .75rem;
  vertical-align: top;
}
