.container a, .container ul {
  display: inline-block;
  vertical-align: bottom;
}

nav {
  background-color: #34434B;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24);
}

.logo-dominant {
  font-size: 32px;
  padding-left: 10px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

/*.logo-recessive {
  color: #D4D4D4;
  line-height: 3.5;
  text-transform: capitalize;
}*/

ul li { line-height: 2.5; }
#navbar-dropdown { color: #FFF; }
.dropdown-menu { border-radius: 0 }
